@import "tailwindcss";

@theme {
  /* Cores da Marca Active Club */
  --color-brand-yellow: #E2F007;
  --color-brand-black: #121212;
  --color-brand-grey: #1E1E1E;

  /* Fontes (usando as variáveis que definimos no layout.tsx) */
  --font-sans: var(--font-inter);
  --font-display: var(--font-montserrat);
}

/* Reset básico para garantir que o tema escuro é o padrão */
:root {
  background-color: var(--color-brand-black);
  color: white;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}